
main {
    height: calc(100vh - 200px);
    overflow-y: scroll;
}

div.card-container {
    padding: 20px;
}

div.single_card {
    width: calc((50% / 1 ) - 400px);
    margin: 10px auto ;
    height: inherit;
    text-align: center;
    border: solid 1px black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .5);
    
}

